body{
    background-color: #f4f4f4;
}
.main{
    width: 100%;
    height: max-content;
}
.contentWrapper{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}